<%- include('../../includes/head.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/exposure.js"></script>
<link rel="stylesheet" href="/stylesheets/exposure.css">
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
  <main>
      <%- include('../commonNav.ejs') %>
    <div class="container-fluid">




<br />
<h2 class="center">自動操縦モードのUI test</h2>
<div class="center">
  <a class="button" href="/subscribers/new">新規登録</a>
</div>
<!-- <table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% subscribers.forEach(subscriber => { %>
    <tr>
      <td>
        <a href="<%= `/subscribers/${subscriber._id}` %>">
          <%= subscriber.name %>
        </a>
      </td>
      <td>
        <%= subscriber.email %>
      </td>
      <td>
        <a href="<%=`subscribers/${subscriber._id}/edit`%>">
          ✏️
        </a>
      </td>
      <td>
        <a href="<%= `subscribers/${subscriber._id}/delete?_method=DELETE` %>" onclick="return confirm('削除していいですか？')" a>🗑</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table> -->


  <!-- Swiper -->
  <div class="swiper-container swiper1">
    <div class="swiper-wrapper">
      <% subscribers.forEach(subscriber => { %>
      <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p><a href="<%= `/subscribers/${subscriber._id}` %>"></a><%= subscriber.name %><br />コメント コメント コメント</p><span><%= subscriber.email %></span>
        <a href="<%=`subscribers/${subscriber._id}/edit`%>">✏️</a>
        <!-- <a href="<%= `subscribers/${subscriber._id}/delete?_method=DELETE` %>" onclick="return confirm('削除していいですか？')" a>🗑</a> -->
        <!-- <a>♡</a> -->
      </div>
      <% }); %>
    </div>
    <div class="swiper-pagination swiper-pagination1"></div>
  </div>

  <!-- Swiper -->
  <div class="swiper-container swiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>スカイツリーの最上階に登る<br />最高の気分で飛び降りたくなった</p><span>by Tanaka Kazuhiro  40代  男性  自殺願望</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 2<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 3<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 4<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c02.png" /><a class="trim-image-to-circle"></a><p>タイトル 5<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c01.png" /><a class="trim-image-to-circle"></a><p>タイトル 6<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 7<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 8<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 9<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>タイトル 10<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
    </div>
    <div class="swiper-pagination swiper-pagination2"></div>
  </div>

  <!-- Swiper -->
  <div class="swiper-container swiper3">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>スキップで歩いてみる<br />好きな歌をハミングしながら</p><span>BOT Recomend</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 2<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 3<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 4<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c02.png" /><a class="trim-image-to-circle"></a><p>タイトル 5<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c01.png" /><a class="trim-image-to-circle"></a><p>タイトル 6<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 7<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 8<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 9<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>タイトル 10<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
      </div>
    <div class="swiper-pagination swiper-pagination3"></div>
  </div>

  <div class="swiper-container swiper4">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>Jetson Nano で遊ぼう〜^^<br />大好きなことをやるのが才能になるよ！</p><span>by Professor Keiji Mitsubuchi</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 2<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 3<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 4<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c02.png" /><a class="trim-image-to-circle"></a><p>タイトル 5<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c01.png" /><a class="trim-image-to-circle"></a><p>タイトル 6<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 7<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 8<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 9<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>タイトル 10<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
    </div>
    <div class="swiper-pagination swiper-pagination4"></div>
  </div>

  <div class="swiper-container swiper5">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>ラーメン次郎に行って、ラーメンの匂い<br />だけ楽しんで帰ってくる！</p><span>40代  男性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 2<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 3<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 4<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c02.png" /><a class="trim-image-to-circle"></a><p>タイトル 5<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c01.png" /><a class="trim-image-to-circle"></a><p>タイトル 6<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 7<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 8<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 9<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>タイトル 10<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
    </div>
    <div class="swiper-pagination swiper-pagination5"></div>
  </div>

  <div class="swiper-container swiper6">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>書斎で勝海舟の氷川清話を読む。<br />エスプレッソを飲みながら。</p><span>Dr. Masaya Ito</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 2<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 3<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 4<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c02.png" /><a class="trim-image-to-circle"></a><p>タイトル 5<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c01.png" /><a class="trim-image-to-circle"></a><p>タイトル 6<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 7<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 8<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 9<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>タイトル 10<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
    </div>
    <div class="swiper-pagination swiper-pagination6"></div>
  </div>

  <div class="swiper-container swiper7">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>まま友も誘って肉女子会！<br />肉〜！肉〜！</p><span>30代  女性  うつ（嘘）</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 2<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 3<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 4<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c02.png" /><a class="trim-image-to-circle"></a><p>タイトル 5<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c01.png" /><a class="trim-image-to-circle"></a><p>タイトル 6<br />コメント コメント コメント</p><span>○○代  ○性  うつ</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c03.png" /><a class="trim-image-to-circle"></a><p>タイトル 7<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c04.png" /><a class="trim-image-to-circle"></a><p>タイトル 8<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c05.png" /><a class="trim-image-to-circle"></a><p>タイトル 9<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
        <div class="swiper-slide"><img src="/images/exposure/c06.png" /><a class="trim-image-to-circle"></a><p>タイトル 10<br />コメント コメント コメント</p><span>○○代  ○性  不安</span><a>♡</a></div>
    </div>
    <div class="swiper-pagination swiper-pagination7"></div>
  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper1 = new Swiper('.swiper1', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination1',
        type: 'progressbar',
        clickable: true,
      },
    });
    var swiper2 = new Swiper('.swiper2', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination2',
        type: 'progressbar',
        clickable: true,
      },
    });
    var swiper3 = new Swiper('.swiper3', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination3',
        type: 'progressbar',
        clickable: true,
      },
    });
    var swiper4 = new Swiper('.swiper4', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination4',
        type: 'progressbar',
        clickable: true,
      },
    });
    var swiper5 = new Swiper('.swiper5', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination5',
        type: 'progressbar',
        clickable: true,
      },
    });
    var swiper6 = new Swiper('.swiper6', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination6',
        type: 'progressbar',
        clickable: true,
      },
    });
    var swiper7 = new Swiper('.swiper7', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination7',
        type: 'progressbar',
        clickable: true,
      },
    });
  </script>




</div>
</main>

<%- include('../../includes//end.ejs') %>